.content {
  min-height: 100vh;
  background-color: $alice-blue;

  .page-title {
    color: $dark-blue;
  }

  &__top {
    display: flex;
    align-items: center;
    background-color: $white;

    .go-back {
      margin-right: 10px;
    }
  }

  &__bottom {
    .page-content {
      position: relative;
      min-height: 300px;
      background-color: $white;
    }
  }
}