{
  "presets": [
    "@babel/preset-react",
    ["@babel/env", { "modules": false }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-react",
        "@babel/env"
      ],
    }
  }
}
