{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "it": true,
    "cy": true,
    "jest": true,
    "expect": true,
    "afterEach": true,
    "beforeEach": true,
    "describe": true
  },
  "plugins": ["react", "import", "prettier"],
  "rules": {
    "prettier/prettier": 2,
    "class-methods-use-this": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }],
    "function-paren-newline": "off",
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "no-use-before-define": ["warn", "nofunc"],
    "object-curly-newline": ["error", { "consistent": true }],
    "prefer-promise-reject-errors": "off",
    "import/extensions": "off",
    "import/first": "off",
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": ["error", { "ignore": ['^\@root'] }],
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": ["error", { "ignore": [ "translate" ] }],
    "no-underscore-dangle": ["error", { "allow": ["_score"] }],
    "jsx-a11y/label-has-for": [2, {
      "required": {
        "some": ["nesting", "id"]
      }
    }],
  }
}
