$grey: #999999;
$light-gray: #ACB1B6;
$very-light-gray: #EFEFEF;
$zambezi: #585858;
$night-rider: #333333;
$white: #ffffff;
$white-smoke: #F9F9F9;
$hawkes-blue: #D5D2FC;
$waterloo: #7E7DA0;
$alice-blue: #EFF2F5;
$dark-blue: #030047;
$purple: #685DF6;
$true-violet: #8661C1;
$magnolia: #F4EAFE;
$green: #66D5D3;
$light-green: #E7FFFB; 
